* {
	box-sizing: border-box;
}

a {
	color:rgb(255,255,255);
}
a:hover {
	color:rgb(127,127,127);
}
a:active {
	color:rgb(127,127,127);
	position: relative;
	top:1px;
}

body {
	background-color: black;
}

#page {
	border-radius: 15px;
	border: solid white;
	margin: 10px;
	padding: 10px;
	
	color: white;
}

#page nav {
	display: inline-block;
	padding-right:20px;
	vertical-align: top;
	width: 20%;
}

#main {
	vertical-align: top;
	display: inline-block;
	width: 80%;
	padding-left: 20px;
	padding-right: 20px;
	border-left: solid white;
	border-radius: 15px;
}

#main h1 {
	text-align: center;
}

#main article {
	text-align: center;
	border-radius: 15px;
	border: solid white;
	padding: 10px;
}

input:focus:invalid {
  color: #7f7f7f;
}


@media only screen and (max-width: 768px) {
	#page nav {
		float:none;
		display: block;
		vertical-align: top;
		width: 100%;
	}
	#main {
		vertical-align: top;
		display: block;
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
		border-left: none;
		border-radius: 15px;
	}
}
